body {
    font-family: Poppins, sans-serif;
    background-color: #f3fffe;
} 

.image1 {
    width: 149px;
    height: 87px;
    margin-top: 10px;
    margin-left: 5px;
}

.content-box {
    background-color: #a0fff9;
    box-shadow: 2px 4px 4px rgba(35, 38, 41, 0.402);
    border-radius: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

.nav-head {
    font-size: 28px;
    color: rgb(73, 80, 87);
    font-weight: bold;
}

h1 {
    font-size: 30px;
    text-align: center;
}

.logout {
    font-family: Roboto, sans-serif;
    border-radius: 20px;
    width: 156.896px;
    height: 42px;
    padding-top: 9px;
}
