.btn {
  float: right;
}

input {
  float: right;
}

.dropname {
  color: black;
  background-color: transparent; 
  border-color: transparent;
  
}
ul #dropn .dropdown:hover .dropdown-content {
  display: block;
}