body {
    font-family: Roboto, sans-serif;
}

.back {
    background: linear-gradient(#a0fff9, white), #a0fff9;
}

.image1 {
    width: 149px;
    height: 87px;
    margin-top: 0px;
    margin-left: 5px;
}

.logout {
    font-family: Roboto, sans-serif;
    border-radius: 20px;
    width: 156.896px;
    height: 42px;
    padding-top: 9px;
}

h4 {
    font-weight: bold;
    font-size: 28px;
    text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.34);
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 5px 8px rgba(0, 0, 0, 0.34);
    text-align: center;
}

h2 {
    font-weight: 540;
    font-size: 30px;
}

.dp {
    margin-top: 24px;
    height: 153px;
    width: 150px;
    border-radius: 75px;    
}

.don-but {
    width: 159.5875px;
    border-radius: 6px;
    background: rgb(6,208,148);
    box-shadow: 1px 6px 10px 0px rgb(1,3,3);
}

.tble {
    background: rgba(255,255,255,0.54);
    border-radius: 8px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.30);
}